@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: 
       url("../fonts/montserrat-v18-latin-regular.woff2") format("woff2"),
       url("../fonts/montserrat-v18-latin-regular.woff") format("woff"); 
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: 
       url("../fonts/montserrat-v18-latin-500.woff2") format("woff2"), 
       url("../fonts/montserrat-v18-latin-500.woff") format("woff"); 
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: 
       url("../fonts/montserrat-v18-latin-700.woff2") format("woff2"), 
       url("../fonts/montserrat-v18-latin-700.woff") format("woff"); 
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: 
       url("../fonts/montserrat-v18-latin-600.woff2") format("woff2"), 
       url("../fonts/montserrat-v18-latin-600.woff") format("woff"); 
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: 
       url("../fonts/montserrat-v18-latin-800.woff2") format("woff2"), 
       url("../fonts/montserrat-v18-latin-800.woff") format("woff"); 
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: 
       url("../fonts/montserrat-v18-latin-900.woff2") format("woff2"), 
       url("../fonts/montserrat-v18-latin-900.woff") format("woff"); 
}

.body {
  background-color: #232f3d;
}

.top {
  padding: 3px 0;
  padding-bottom: 5px;
  background-color: #5a6674;
}

.top__icon ~ .top__icon {
  margin-left: 15px;
}

.top__icon svg{
  transform: rotateY(180deg);
}

.section__left-menu-wrapper {
  padding: 0;
  margin: 0;
}

.section__left-menu {
  padding: 0;
  margin: 0;
}

.section__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.section__item {
  padding: 0;
  margin: 0;
}

.setion__item:hover {
  background-color: #667a92;
}

.section__list-img {
  width: 32px;
  height: 32px;
  margin-left: auto;
  margin-right: auto; 
}

.section__left-menu-link {
  width: 40px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.section__left-menu-text {
  color: #ffffff;
  font-size: 10px;
  font-weight: 700;
  margin-top: 5px;
  font-family: "Montserrat";
}

.section__chats-item-left-img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-right: 10px;
}

.section__chats-item-middle-box {
  display: block;
}

.section__chats-item {
  margin-left: -30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.section__chats-item-left-box {
  display: flex;
  align-items: center;
}

.section__chats-name {
  color: #ffffff;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.section__chats-massage {
  color: #64bee7;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.section__chats-time-box {
  margin-left: 30px;
}

.section__chats-time {
  color: #5a6674;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.section__chats-massage-number {
  border-radius: 50%;
  background-color: #64bee7;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 10px;
  padding: 10px;
}

.section__left-pin-img {
  transform: rotate(45deg);
  margin-left: 20px;
}

.section__left-pin-num {
  margin-left: 18px;
  border-radius: 50%;
  background-color: #64bee7;
}

.chat-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chat__user {
  display: block;
}

.chat__user-name {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #ffffff; 
}

.chat__user-last-seen {
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #5a6674;
}

.chat__icons {
  cursor: pointer;
}

.massage__pin-section {
}

.pins {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pin__lines {
  display: block;
}

.pins__line {
  background-color: #5a6674;
  width: 3px;
  height: 5px;
  margin-bottom: 5px;
}


.pins__line:nth-child(4) {
  background-color: #64bee7;
  width: 3px;
  height: 5px;
  margin-bottom: 5px;
}

.pin__title {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #64bee7;
  padding: 0;
  margin: 0;
}

.pins__text {
  margin-bottom: -5px;
}

.pin__text {
  font-size: 12px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #ffffff;
}

.pin-img {
  transform: rotateZ(45deg);
}

.massage__text-section {

}

.massage {
  background-color: #e1e9f1;
  width: 420px;
  margin-left: 10%;
  padding: 15px 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.massage__box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.massage__text {
  font-weight: 500;
  font-family: "Montserrat";
  font-size: 12px;
  color: #000000;
  text-align: justify;
}

.massage__user {
  color: #64bee7;
  font-weight: 500;
  font-size: 14px;
}

.massage__position {
  font-size: 14px;
  font-weight: 500;
  font-family: "Montserrat";
  color: #232f3d;
}

.massage__box-bottom {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.massage__link {
  text-decoration-line: none;
  color: #2474c0;
}

.massage__time {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.massage__box-bottom-image {
  border-radius: 50%;
  position: absolute;
  left: 330px;
}

.chat__text-input {
  margin-top: 45px;
}

.info__box-top {
  display: flex;
}

.info__box-top span {
  cursor: pointer;
}

.info__box-top svg:hover {
  opacity: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.info__box-group {
  display: flex;
  align-items: center;
}

.info__box-group-name {
  margin-left: 10px;
}

.info__box-top-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  font-family: "Montserrat";
  margin-right: 200px;
}

.info__box-group-image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
}

.info__box-group-title {
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Montserrat";
  padding: 0;
  margin: 0;
}

.info__box-group-text {
  color: #ced2d6;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.info__box-info {
  display: flex;
  align-items: center;
}

.info__box-info-text-box {
  margin-left: 70px;
}

.info__box-info-text {
  color: #ffffff;
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.info__box-info-icons {
  margin-top: 50px;
}

.info__box-icon-name {
  color: #a39d9d;
  font-size: 12px;
  margin-left: 50px;
  font-family: "Montserrat";
  cursor: pointer;
  font-weight: 500;
}

.info__box-icon-name:hover {
  opacity: 50%;
  transition: 0.3s;
}

.info__box-info-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.info__box-info-item {
  padding: 0;
  margin: 0;
  display: flex;
}

.info__box-info-item:hover svg{
  cursor: pointer;
  opacity: 50%;
}

.info__box-report {
  margin-left: 75px;
  text-decoration-line: none;
  color: #be1010;
  font-size: 14px;
}